@charset "utf-8";

/*=============================================
=                   ##INDEX                   =
=============================================*/

@media all and (min-width:1260px) {
	/**/
	#notice_find{height:auto;text-align: center;}
	#notice_find .notice_find_img{width:100%}

	/**/
	#survey_bn{position:relative;text-align: center;padding:20px 0;background:#fcfcfc url("../img/event.png") repeat}
	#survey_bn img{width:auto;margin-bottom: 10px;}
	#survey_bn a{display: block;line-height: 40px;height:40px;width: 100px;margin: 0 auto;background: #ef4136;color: #fff;font-size: 15px;font-weight: 500;transition:all 0.3s}
	#survey_bn a:hover{color:#ef4136;background:#fff;border:1px solid #ef4136}

	/**/
	#product{position:relative;padding:0 0 80px 0;background:#fff}
	#product .title{margin-bottom:50px;text-align:center}
	#product .title h3{line-height:50px;font-size:30px;font-weight:600;color:#333}
	#product .title span{line-height:20px;font-size:15px;font-weight:300;color:#999}
	
	
	/**/
	#faq{position:relative;padding:80px 0;background:#fafafa}
	#faq .title{margin-bottom:50px;text-align:center}
	#faq .title h3{line-height:50px;font-size:30px;font-weight:600;color:#333}
	#faq .title span{line-height:20px;font-size:15px;font-weight:300;color:#999}
	#faq .list .desc{margin:20px auto 0;padding:0 250px 50px;line-height:24px;text-align:center;word-break:keep-all}
	#faq .list .desc .sub{position:relative;display:block;padding-top:42px;margin-bottom:15px;font-size:16px;font-weight:500;color:#053863}
	#faq .list .desc .sub:before{content:'""';position:absolute;top:0;left:50%;margin-left:-50%;width:100%;font-size:50px;font-weight:500;color:rgba(5, 56, 99, 0.2)}
	#faq .list .desc .tit{font-size:24px;line-height:32px;color:#222}
	#faq .list .desc .txt{margin-top:20px;line-height:24px}
	#faq .control .arrow{position:absolute;top:50%;z-index:1001;width:36px;height:62px;text-indent:-9999em;font-size:0;overflow:hidden;transform:translateY(-50%)}
	#faq .control .arrow:before{content:'';display:block;position:absolute;top:10px;width:40px;height:40px;border:2px solid #ccc;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s}
	#faq .control .prev:before{left:10px; border-right-width:0; border-bottom-width:0}
	#faq .control .next:before{left:auto; right:10px; border-left-width:0; border-top-width:0}
	#faq .control .prev{left:5%}
	#faq .control .next{right:5%}
	#faq .tool{position:relative;padding:10px 0;width:100%;text-align:center}
	#faq .tool .slick-dots{display:inline-block}
	#faq .tool .slick-dots li{display:inline-block}
	#faq .tool .slick-dots button{position:relative;padding:8px 6px;text-indent:-9999em;overflow:hidden;font-size:0;vertical-align:middle}
	#faq .tool .slick-dots button:after{content:'';position:relative;display:block;width:9px;height:9px;border-radius:18px;background:#999;opacity:.7;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s}
	#faq .tool .slick-dots .slick-active button:After{width:60px;opacity:1;background:#446a8a}
	#faq .tool .ctrl{position:relative;display:inline-block;width:25px;height:25px;margin-left:5px;background:#999;border-radius:25px;text-indent:-999px;overflow:hidden;font-size:0;vertical-align:middle}
	#faq .tool .play:before{content:'';position:absolute;display:block;top:7px;left:11px;width:0;height:0;border:5px transparent solid;border-right-width:0;border-left-color:#fff}
	#faq .tool .pause:before,
	#faq .tool .pause:after{content:'';position:absolute;display:block;top:8px;left:9px;width:2px;height:9px;background:#fff}
	#faq .tool .pause:after{left:14px}	
	
	/**/
	#CSinfo{display:none;padding:50px 0;border:1px solid #eee;border-bottom:0;overflow:hidden}
	#CSinfo .list{float:left;width:50%;position:relative;padding:0 50px;text-align:left}
	#CSinfo .list .tit{position:relative;display:inline-block;margin:0 0 10px 0;font-size:15px;font-weight:600;color:#222;transition:all 0.3s}
	#CSinfo .list.center .txt span{display:block;line-height:40px}
	#CSinfo .list.center .tel{display:block;font-size:26px;font-weight:600;color:#053863}
	#CSinfo .list.center .openclose{padding:15px 0 0 0;font-size:15px;font-weight:500;color:#333}
	#CSinfo .list.center .openclose strong{display:block;font-weight:400;color:#999}
	#CSinfo .list.center .email{padding:15px 0 0 0;font-size:15px;font-weight:500;color:#333}
	#CSinfo .list.center .email strong{display:block;font-weight:400;color:#999}
	#CSinfo .list.center .ka_img{display:none}
	#CSinfo .list.bank .txt{line-height:24px;font-size:15px;font-weight:500;color:#333}
	#CSinfo .list.bank .acc{display:block;font-size:15px;font-weight:500;color:#053863}
	#CSinfo .list.bank .bank{display:block;font-size:14px;font-weight:400;color:#666}
	
}
@media (max-width:1259px) and (min-width:748px) {
	/**/
	#notice_find{padding: 0 20px;height:auto;text-align: center;}
	#notice_find .notice_find_img{width:100%}

	/**/
	#survey_bn{position:relative;text-align: center;padding:20px 0;background:#fcfcfc url("../img/event.png") repeat}
	#survey_bn img{width:auto;height:200px;margin-bottom: 10px;}
	#survey_bn a{display: block;line-height: 40px;height:40px;width: 100px;margin: 0 auto;background: #ef4136;color: #fff;font-size: 15px;font-weight: 500;transition:all 0.3s}
	#survey_bn a:hover{color:#ef4136;background:#fff;border:1px solid #ef4136}

	/**/
	#product{position:relative;padding:50px 20px;background:#fff}
	#product .title{margin-bottom:50px;text-align:center}
	#product .title h3{line-height:50px;font-size:25px;font-weight:600;color:#333}
	#product .title span{line-height:20px;font-size:14px;font-weight:300;color:#999}

	
	/**/
	#faq{position:relative;padding:50px 20px;background:#fafafa}
	#faq .title{margin-bottom:50px;text-align:center}
	#faq .title h3{line-height:50px;font-size:30px;font-weight:600;color:#333}
	#faq .title span{line-height:20px;font-size:15px;font-weight:300;color:#999}
	#faq .list .desc{margin:20px auto 0;padding:0 50px 50px;line-height:24px;text-align:center;word-break:keep-all}
	#faq .list .desc .sub{position:relative;display:block;padding-top:16px;margin-bottom:15px;font-size:16px;font-weight:500;color:#053863}
	#faq .list .desc .sub:before{content:'""';position:absolute;top:0;left:50%;margin-left:-50%;width:100%;font-size:50px;font-weight:500;color:rgba(5, 56, 99, 0.2)}
	#faq .list .desc .tit{font-size:22px;line-height:32px;color:#222}
	#faq .list .desc .txt{margin-top:15px;line-height:22px}
	#faq .control .arrow{position:absolute;top:50%;z-index:1001;width:36px;height:62px;text-indent:-9999em;font-size:0;overflow:hidden;transform:translateY(-50%)}
	#faq .control .arrow:before{content:'';display:block;position:absolute;top:10px;width:40px;height:40px;border:2px solid #ccc;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s}
	#faq .control .prev:before{left:10px; border-right-width:0; border-bottom-width:0}
	#faq .control .next:before{left:auto; right:10px; border-left-width:0; border-top-width:0}
	#faq .control .prev{left: 0;}
	#faq .control .next{right: 0;}
	#faq .tool{position:relative;padding:10px 0;width:100%;text-align:center}
	#faq .tool .slick-dots{display:inline-block}
	#faq .tool .slick-dots li{display:inline-block}
	#faq .tool .slick-dots button{position:relative;padding:8px 6px;text-indent:-9999em;overflow:hidden;font-size:0;vertical-align:middle}
	#faq .tool .slick-dots button:after{content:'';position:relative;display:block;width:9px;height:9px;border-radius:18px;background:#999;opacity:.7;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s}
	#faq .tool .slick-dots .slick-active button:After{width:60px;opacity:1;background:#446a8a}
	#faq .tool .ctrl{position:relative;display:inline-block;width:25px;height:25px;margin-left:5px;background:#999;border-radius:25px;text-indent:-999px;overflow:hidden;font-size:0;vertical-align:middle}
	#faq .tool .play:before{content:'';position:absolute;display:block;top:7px;left:11px;width:0;height:0;border:5px transparent solid;border-right-width:0;border-left-color:#fff}
	#faq .tool .pause:before,
	#faq .tool .pause:after{content:'';position:absolute;display:block;top:8px;left:9px;width:2px;height:9px;background:#fff}
	#faq .tool .pause:after{left:14px}	
	
	/**/
	#CSinfo{display:none;padding:20px;border:1px solid #eee;border-bottom:0;overflow:hidden}
	#CSinfo .list{float:left;width:50%;position:relative;padding:0 10px;text-align:center}
	#CSinfo .list .tit{position:relative;display:inline-block;margin:0 0 10px 0;font-size:15px;font-weight:600;color:#222;transition:all 0.3s}
	#CSinfo .list.center .txt span{display:block;line-height:40px}
	#CSinfo .list.center .tel{display:block;font-size:18px;font-weight:600;color:#053863}
	#CSinfo .list.center .openclose{padding:5px 0 0 0;font-size: 12px;font-weight:500;color:#333;}
	#CSinfo .list.center .openclose strong{display:block;font-weight:400;color:#999}
	#CSinfo .list.center .email{padding:5px 0 0 0;font-size: 12px;font-weight:500;color:#333;}
	#CSinfo .list.center .email strong{display:block;font-weight:400;color:#999}
	#CSinfo .list.center .ka_img{display:none}
	#CSinfo .list.bank .txt{line-height:24px;font-size:15px;font-weight:500;color:#333}
	#CSinfo .list.bank .acc{display:block;margin-top: 15px;font-size: 13px;font-weight:500;color:#053863;}
	#CSinfo .list.bank .bank{display:block;line-height:20px;font-size: 12px;font-weight:400;color:#666;word-break:keep-all;}
	
}
@media (max-width:747px) {
	/**/
	#notice_find{padding: 0 10px;height:auto;text-align: center;}
	#notice_find .notice_find_img{width:100%}

	/**/
	#m_notice_latest{padding: 0 10px 15px;}
	#m_notice_latest .notice{position:relative;padding:5px;padding-left:35px;padding-right:30px;width:100%;overflow:hidden;border: 1px solid #ddd;border-right: 0;border-left: 0;}
	#m_notice_latest .notice:before{content:'';position:absolute;top:50%;left:0;margin-top:-10px;width:24px;height:20px;background:url("../img/ntcimg.png") no-repeat 50% 50%}
	#m_notice_latest .notice .desc{line-height:30px;border:0;font-size:13px;font-weight:400;color:rgba(0,0,0,0.75);overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
	#m_notice_latest .notice .desc a{display:block;font-size:13px;font-weight:400;color:rgba(0,0,0,0.75);white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
	#m_notice_latest .notice .desc a:hover{color:#000;text-decoration:underline}
	#m_notice_latest .ctrl{display:none;position:absolute;top:0;right:0;padding:10px 0;width:25px}
	#m_notice_latest .ctrl button{display:block;width:25px;height:15px;line-height:15px;font-size:15px;color:#ccc;background:none}
	#m_notice_latest .ctrl button:hover{color:#d62828}

	/**/
	#survey_bn{position:relative;text-align: center;padding:20px 0;background:#fcfcfc url("../img/event.png") repeat}
	#survey_bn img{width:auto;height:120px;margin-bottom: 10px;}
	#survey_bn a{display: block;line-height: 40px;height:40px;width: 100px;margin: 0 auto;background: #ef4136;color: #fff;font-size: 15px;font-weight: 500;transition:all 0.3s}
	#survey_bn a:hover{color:#ef4136;background:#fff;border:1px solid #ef4136}
	
	/**/
	#product{position:relative;padding: 15px 20px;background:#fff;}
	#product .title{margin-bottom:25px;text-align:center}
	#product .title h3{line-height:30px;font-size:18px;font-weight:600;color:#333}
	#product .title span{display:block;margin-top:5px;line-height:20px;font-size:12px;font-weight:300;color:#999;letter-spacing:-0.5px}

	
	
	/**/
	#faq{position:relative;padding: 15px 10px;background:#fafafa;overflow:hidden;}
	#faq .title{margin-bottom:50px;text-align:center}
	#faq .title h3{line-height:50px;font-size:30px;font-weight:600;color:#333}
	#faq .title span{line-height:20px;font-size:15px;font-weight:300;color:#999}
	#faq .list .desc{margin:20px auto 0;padding: 0 15px 20px;line-height: 18px;text-align:center;word-break:keep-all;}
	#faq .list .desc .sub{position:relative;display:block;padding-top: 5px;margin-bottom: 5px;font-size: 13px;font-weight:500;color:#053863;}
	#faq .list .desc .sub:before{content:'""';position:absolute;top:0;left:50%;margin-left:-50%;width:100%;font-size: 30px;font-weight:500;color:rgba(5, 56, 99, 0.2);}
	#faq .list .desc .tit{font-size: 15px;line-height: 22px;color:#222;}
	#faq .list .desc .txt{margin-top: 10px;line-height: 18px;font-size: 12px;}
	#faq .control .arrow{position:absolute;top:50%;z-index:1001;width:36px;height: 42px;text-indent:-9999em;font-size:0;overflow:hidden;transform:translateY(-50%);}
	#faq .control .arrow:before{content:'';display:block;position:absolute;top:10px;width: 20px;height: 20px;border:2px solid #ccc;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;}
	#faq .control .prev:before{left:10px; border-right-width:0; border-bottom-width:0}
	#faq .control .next:before{left:auto; right:10px; border-left-width:0; border-top-width:0}
	#faq .control .prev{left: -20px;}
	#faq .control .next{right: -20px;}
	#faq .tool{position:relative;padding:10px 0;width:100%;text-align:center}
	#faq .tool .slick-dots{display:inline-block}
	#faq .tool .slick-dots li{display:inline-block}
	#faq .tool .slick-dots button{position:relative;padding:8px 6px;text-indent:-9999em;overflow:hidden;font-size:0;vertical-align:middle}
	#faq .tool .slick-dots button:after{content:'';position:relative;display:block;width:9px;height:9px;border-radius:18px;background:#999;opacity:.7;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s}
	#faq .tool .slick-dots .slick-active button:After{width:60px;opacity:1;background:#446a8a}
	#faq .tool .ctrl{position:relative;display:inline-block;width:25px;height:25px;margin-left:5px;background:#999;border-radius:25px;text-indent:-999px;overflow:hidden;font-size:0;vertical-align:middle}
	#faq .tool .play:before{content:'';position:absolute;display:block;top:7px;left:11px;width:0;height:0;border:5px transparent solid;border-right-width:0;border-left-color:#fff}
	#faq .tool .pause:before,
	#faq .tool .pause:after{content:'';position:absolute;display:block;top:8px;left:9px;width:2px;height:9px;background:#fff}
	#faq .tool .pause:after{left:14px}	
	
	/**/
	#CSinfo{padding: 15px 10px;border-bottom:0;overflow:hidden;}
	#CSinfo .list{position:relative;padding:0 10px;text-align:left}
	#CSinfo .list:nth-child(n+2){padding-top:15px;margin-top:15px;border-top:1px dashed #e9e9e9}
	#CSinfo .list .tit{position:relative;display:block;margin:0 0 10px 0;font-size:15px;font-weight:600;color:#222;transition:all 0.3s}
	#CSinfo .list.center .txt span{display:block;line-height:40px}
	#CSinfo .list.center .tel{display:block;font-size:28px;font-weight:600;color:#053863}
	#CSinfo .list.center .openclose{padding:5px 0 0 0;line-height:20px;font-size:12px;font-weight:500;color:#333;text-align:right;overflow:hidden}
	#CSinfo .list.center .openclose strong{float:left;font-weight:400;color:#999}
	#CSinfo .list.center .email{padding:5px 0 0 0;line-height:20px;font-size:12px;font-weight:500;color:#333;text-align:right;overflow:hidden}
	#CSinfo .list.center .email strong{float:left;font-weight:400;color:#999}
	#CSinfo .list.center .ka_img{position:absolute;right:0;top:0;}
	#CSinfo .list.center .ka_img a{display:inline-block;width:55px;padding:0 5px}
	#CSinfo .list.center .ka_img img{width:100%}
	#CSinfo .list.bank .txt{line-height:24px;font-size:15px;font-weight:500;color:#333}
	#CSinfo .list.bank .acc{display:block;margin-top:10px;font-size:12px;font-weight:500;color:#053863}
	#CSinfo .list.bank .bank{display:block;line-height:19px;font-size:12px;font-weight:400;color:#666;word-break:keep-all}
	
}
