@charset "utf-8";
#sit_ov_btn {padding:10px 20px 20px}
#sit_ov_btn:after {display:block;visibility:hidden;clear:both;content:""}
#sit_ov_btn button {width:100%;float:left;height:46px;margin:3px 0;font-weight:bold;font-size:13px}
#sit_btn_alm {display:inline-block;width:100%;height:50px;line-height:50px;margin-bottom:10px;font-weight:bold;font-size:1.25em;background:#ff4747;color:#fff;border:0;text-align:center}
